*{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Nunito', sans-serif;
}
body{
    background: radial-gradient(circle, rgb(252, 250, 250) 0%, rgb(47, 58, 71) 50%);
}
.title{
    text-align: left;
    color: #070808;
    margin: 20px;
}
.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    background-color:#93abd8;
    width: 80vw;
    height: 95vh;
    margin: auto;

}
.contact{
    border-bottom: 2px solid rgb(0, 0, 0);
    height: 40px;
}
.contact p{
    display: inline-table;
    font-size: 20px;
} 
dd{
    display: flex;
    justify-content: space-around;
    padding-bottom: 2px;
}

dt{
    background-color: #BFC9CA;
    position: sticky;
    top: 5px;
    font-size: 2em;
    margin-left: 5px;
    box-shadow: 4px 2px 5px black;
}
.number::before{
    content: '\260E';
  }
.name:before{
    content: '\1F464'
}
